<div class="categories-edit-wrapper">
  <div class="container">
    <div class="feeling-categories">
      <h2>読後感を編集する</h2>
      <% @feelingCategories.each do |feelingCategory| %>
        <%= feelingCategory.feeling_after_reading %>
      <% end %>
    </div>
  </div>
</div>