<div class="top-hero-wrapper">
  <div class="container top-hero-container">
    <h1 class="text-green">Enjoy your reading life!</h1>
    <h3 class="text-white">このアプリは本の読後感を、記録・検索できます。</h3>
    <h3 class="text-white">まるで処方箋のように、その時の気分に寄り添った読後感の本を選び、読み返すことができます。</h3>
    <br><h3 class="text-white">ぜひ、自分だけの『本の処方箋』を作って、読書生活を楽しみましょう！</h3>
    <% if user_signed_in? %>
    <% else %>
      <div class="row">
        <div class="col-6">
          <%= link_to 'Log in', new_user_session_url, class: 'btn btn-block btn-green' %>
        </div>
        <div class="col-6">
          <%= link_to 'Sign up', new_user_registration_url, class: 'btn btn-block btn-green' %>
        </div>    
      </div>
    <% end %>
  </div>
</div>