@charset "utf-8";

body { 
  margin: 0;
  padding: 0;
  line-height: 2;

    button, input, select, textarea {
      background-color: transparent;
      border-style: solid;
      padding: 1px 2px;
      border-radius: 5px;
    }
  
    button, input, optgroup, select, textarea {
        font: inherit;
    }
  
    input {
        border-radius: 5px;
    }
    
    ul, li {
      list-style-type: none;
    }

    a {
      text-decoration: none;
    }
}


// topページ
.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('top-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .text-white {
    color: #FBFDE4;
    text-shadow: 1px 1px 0 #8e8f7e,
                 -1px 1px 0 #8e8f7e,
                 1px -1px 0 #8e8f7e,
                 -1px -1px 0 #8e8f7e;
  }

  .btn-green {
    font-family: Work Sans;
    color: rgb(119, 110, 110);
    border: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(68, 192, 48, 0.6);
  
    &:hover {
      color: #fff;
    }
  }

  .top-hero-container {
    padding-top: 220px;
    h1 {
      font-size: 80px;
      line-height: 1;
      font-family: 'Bitter', serif;
      color: rgba(68, 192, 48, 0.8);
      margin-bottom: 50px;
      text-shadow: 1px 1px 1px rgba(54, 163, 37, 0.9);
    }
    h3 {
      margin-bottom: 60px;
    }
  }
}


.hidden {
  display: none;
}

// 本の一覧indexページ
.user-book-results {
  .user-book-index-single img {
    float: left;
    margin: 0 10px 10px 0;
  }
  .user-book-index-single {
    background-color: #FBFDE4;
    border-radius: 5px;
  }

  .feeling_category {
    clear: left;
  }
  
  .btn-default {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #fff;
    width: 120px;
    height: 40px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4em
  }

  .edit {
    background-color: rgba(68, 192, 48, 0.62);
    
    &:hover {
      background-color: rgba(68, 192, 48, 0.8);
    }
  }    

  .delete {
    background-color: rgba(46, 115, 131, 0.65);

    &:hover {
      background-color: rgba(46, 115, 131, 0.8);
    }
  }
}

.books-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  
}

.books-tabs li {
  float: left;
}

.books-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

.books-tabs li.active a {
  color: #57575f;
}

.books-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

// 本のeditページ
.user-book-edit-wrapper {
  .after-reading-container {
    display: flex;
  }
}

// 共通navbar
.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

// 本のnewページ
.user-book-new-wrapper {
  .new-search-form {
    padding: 10px;
  }
  h2 {
    margin-bottom: 10px;
  }
  .new-search-result {
    margin-top: 20px;
    padding: 10px;
  }

  #error_message {
    color: red;
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:480px) { 
  .top-hero-wrapper {
    .top-hero-container {
      padding-top: 70px;
      h1 {
        font-size: 60px;
        line-height: 1;
        margin-bottom: 50px;
      }
      h3 {
        margin-bottom: 30px;
      }
    }
  }
  
}
