@charset "utf-8";

body { 
  margin: 0;
  padding: 0;
  line-height: 2;

    button, input, select, textarea {
      background-color: transparent;
      border-style: solid;
      padding: 1px 2px;
      border-radius: 5px;
    }
  
    button, input, optgroup, select, textarea {
      font: inherit;
    }

    select {
      -webkit-appearance: none;
      appearance: none; /* デフォルトのスタイルを無効 */
      height: 37px;
      padding-left: 10px;
      width: 130px;
      margin-right: 2px;
    }
    select::-ms-expand {
      display: none; /* デフォルトのスタイルを無効(IE用) */
    }
    /* セレクトボックスの矢印デザイン変更 */
    select {
      background-image: image-url('arrow-bottom.png');
      background-position: right 10px center;
      background-repeat: no-repeat;
      background-size: 13px 13px;
    }
  
    input {
        border-radius: 5px;
    }
    
    ul, li {
      list-style-type: none;
    }

    a {
      text-decoration: none;
    }
}

// 共通ボタン
.btn-default {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #fff;
  width: 180px;
  height: 40px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4em
}

.edit {
  background-color: rgba(68, 192, 48, 0.62);
  color: #fff;
  
  &:hover {
    background-color: rgba(68, 192, 48, 0.8);
    color: #fff;
  }
}

// topページ
.btn-green {
  font-family: Work Sans;
  color: rgb(119, 110, 110);
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(68, 192, 48, 0.6);

  &:hover {
    color: #fff;
  }
}

.text-white {
  color: #FBFDE4;
  text-shadow: 1px 1px 0 #8e8f7e,
               -1px 1px 0 #8e8f7e,
               1px -1px 0 #8e8f7e,
               -1px -1px 0 #8e8f7e;
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('top-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .top-hero-container {
    padding-top: 220px;
    h1 {
      font-size: 80px;
      line-height: 1;
      font-family: 'Bitter', serif;
      color: rgba(68, 192, 48, 0.8);
      margin-bottom: 50px;
      text-shadow: 1px 1px 1px rgba(54, 163, 37, 0.9);
    }
    h3 {
      margin-bottom: 60px;
    }
  }
}

// ユーザーログイン、新規登録ページ
.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('top-image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 150px;
    margin-left: auto;
    margin-right: auto;

    h1{
      margin-bottom: 20px;
    }

    .field {
      margin-bottom: 20px;
    }
  }
  .btn-green {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.hidden {
  display: none;
}

// 本のindexページ
// 本の検索
.search-form {
  input {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
  }
  #category_ids {
    width: 100%;
    margin-bottom: 10px;
  }
}
.search {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:#2E7383A6;
  color: #fff;
}

// 本の一覧
.user-book-results {
  .user-book-index-single img {
    float: left;
    margin: 0 10px 10px 0;
  }
  .user-book-index-single {
    background-color: #FBFDE4;
    border-radius: 5px;
    .create_date {
      float: right;
    }
    h3 {
      clear: right;
    }
    .feeling_category {
      clear: left;
      .single-feeling {
        width: 360px;
        td {
          width: 110px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
    .feeling p{
      margin: 30px 10px;
    }    
  }  

  // 削除ボタン
  .delete {
    background-color: rgba(46, 115, 131, 0.65);

    &:hover {
      background-color: rgba(46, 115, 131, 0.8);
    }
  }
}

.books-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  .fas {
    padding-left: 2px; 
  }
}

.books-tabs li {
  float: left;
}

.books-tabs li.active {
  border-bottom: 2px solid #69dd33;
}

.books-tabs li.active a {
  color: #57575f;
}

.books-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

// 本のeditページ
.user-book-edit-wrapper {
  .btn-default {
    margin: 15px 0px;
    width: 280px;
  }
  input {
    width: 100%
  }
  .category {
    select {
      width: 100%;
    }
  }
  .feeling-after-reading{
    clear: right;
    .after-reading-container {
      display: flex;
    }
  }
  .feeling-container {
    clear: right;
    #user_book_feeling {
      width: 100%;
      height: 150px;
      line-height: normal;
    }
  }
}

// 共通navbar
.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
  outline: none;
}

// 本のnewページ
.user-book-new-wrapper {
  .row {
    padding: 10px;
  }

  h2 {
    margin-bottom: 10px;
  }

  #error_message {
    color: red;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  
  input {
    margin-top: 5px;
    width: 100%;
    height: 45px;
  }

  .new-search-results {
    margin-top: 20px;
    padding: 10px;
    .user-book-result-single {
      background-color: #FBFDE4;
      border-radius: 5px;

      p {
        margin-bottom: 0rem;
      }

      img {
        float: left;
        margin: 0 10px 10px 0;
      }

      .submit {
        clear: left;
        button {
          color: #fff;
        }
      }      
    }
  }
}

// 読後感の追加アイコン
.star-container {
  display: flex;
  margin: 10px 0;

  .theme--dark.v-btn.v-btn--has-bg {
    background-color: rgba(68, 192, 48, 0.62);
    border: none;
    outline: none;
  }
  .v-icon {
    border: none;
    outline: none;
  }
  .minus.theme--dark.v-btn.v-btn--has-bg {
    background-color: rgb(106, 141, 159);
  }
}

@media screen and (max-width:480px) { 
  .top-hero-wrapper {
    .top-hero-container {
      padding-top: 70px;
      h1 {
        font-size: 60px;
        line-height: 1;
        margin-bottom: 50px;
      }
      h3 {
        margin-bottom: 30px;
      }
    }
  }
  .vue-star-rating-star {
    height: 30px;
    width: 30px;
  }  
}
