<div class="categories-wrapper">
  <div class="container">
    <div class="categories">
      <div class="create-category">
        <%= form_tag(categories_update_path, method: :post) do %>
          <h2>カテゴリーを編集する</h2>
          <input type="text" name="category_name" value="<%= @category.category_name %>">
          <input type="hidden" name="category_id" value="<%= @category.id %>">
          <div class="create-botton">
            <input type="submit" value="編集する">
          </div>
        <% end %>
        <br>
        <%= link_to 'カテゴリーの一覧に戻る', categories_index_url %>

      </div>
    </div>
  </div>
</div>